<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= post.title %></title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
  <style>
    .post-title {
      font-size: 2em;
      margin-bottom: 10px;
    }
    .post-meta {
      color: #999;
      font-size: 0.8em;
    }
    .post-content {
      font-size: 1.2em;
      line-height: 1.6;
    }
  </style>
    <link rel="stylesheet" href=<%= "/post-style/"+post.uid %>>
</head>
<body>
  <%- include('../partials/nav') %>
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="post">
          <div class="post-title" stule="font-wheigh:bold;"><%= post.title %></div>
          <!--<div class="post-meta">publicado em 1 de Julho de 2024</div>-->
          <div class="post-content">
            <%- include('../'+post.filePath+"index") %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <p>&copy; 2024 Arthur Baldoqui</p>
  </footer>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
